@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../Components/index.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  body {
    min-height: 100%;
    color: theme('colors.primary');

    #home-bg {
      min-height: 100vh;
      height: 100px;
      background-size: cover;
      background: no-repeat center/100%
        url('../../public/assets/img/new-hero.png');
    }

    #navbar-toggler-item {
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .mission-image {
      width: 400px;
    }

    // react-accessible-accordion/dist/fancy-example.css override
    .accordion_button {
      background-color: theme('colors.blue');
      color: theme('colors.white');
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;

      &:hover {
        background-color: theme('colors.grey');
        color: theme('colors.white');
      }

      &:before {
        display: inline-block;
        content: '';
        height: 10px;
        width: 10px;
        margin-right: 12px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-45deg);
      }
    }

    .accordion_panel {
      padding: 20px;
      text-align: left;
      animation: fadein 0.35s ease-in;
    }
  }
}

// -------------global fonts--------------------------
@font-face {
  font-family: 'DK-Crayon-Crumble';
  font-weight: 400;
  src: url('../../public/assets/fonts/dk-crayon-crumble-webfont.woff')
    format('woff');
}

@font-face {
  font-family: 'DK-Cool-Crayon';
  font-weight: 400;
  src: url('../../public/assets/fonts/dkcoolcrayon-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 300, 400, 500, 600;
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
}


// -------------our new color scheme--------------------------
.dg-bg-blue {
  background-color: #333a64;
}

.dg-color-blue {
  color: #333a64;
}

.dg-color-grn {
  color: #173A24;
}

.dg-bg-grn {
  color: #173A24;
}

.dg-bg-red {
  background-color: #bf6b63;
}

.dg-color-red {
  color: #bf6b63;
}

.dg-bg-org {
  background-color: #eb9e67;
}

.dg-color-org {
  color: #eb9e67;
}

.dg-bg-yel {
  background-color: #ffbb59;
}

.dg-bg-yel-80 {
  background-color: rgba(255, 187, 89, 0.7);
}

.dg-color-yel {
  color: #ffbb59;
}

.dg-bg-cream {
  background-color: #fff6ed;
}

.dg-color-cream {
  color: #fff6ed;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.dg-bg-howto {
  background-image: url('../../public/assets/img/new-floating-deco-1.svg');
  height: 20rem;
  background-color: #fff6ed;
}
