@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';

	body {
		min-height: 100%;
		color: theme('colors.color-text');

		.quick-font {
			font-family: 'Quicksand', sans-serif;
		}

		#home-bg {
			min-height: 100vh;
			height: 100px;
			background-size: cover;
			background: no-repeat center/100% url('/assets/img/new-hero.png');
		}
	}
}

@font-face {
	font-family: 'DK-Crayon-Crumble';
	font-weight: 400;
	src: url('../../assets/fonts/dk-crayon-crumble-webfont.woff') format('woff');
}

@font-face {
	font-family: 'DK-Cool-Crayon';
	font-weight: 400;
	src: url('../../assets/fonts/dkcoolcrayon-webfont.woff') format('woff');
}
